:root {
  --libro: #13475b;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


#contenedor {
  background-color: yellow;
  margin: 0 auto;
  max-width: 1100px;
  height: 90vh;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--libro);
  font-size: 6rem
}

h2 {
  font-size: 5rem;
  color: var(--libro);
  margin: 0;
}

h3 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: var(--libro);
}

header {
  display: block;
  width: 100%;
}

section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  height: 100%;
}
.online {
  background-color: deeppink;
  background-image: url("img/olentzero-online.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.online img {
  width: 100%;
}



.libro {
  background-color: #6FE1FB;
  display: grid;
  grid: 1fr / 1fr;
}

.libro img {
  width: 100%;
}
