:root {
  --libro: #13475b;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--libro);
  font-size: 4rem
}


h2 {
  font-size: 5rem;
  color: var(--libro);
  margin: 0;
}

h3 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: var(--libro);
}

header {
  display: block;
  width: 100%;
}

p {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.7rem;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: unset;
  background-color: gold;
  grid-row-gap: 1rem;
}



#contenedor {
  background-color: white;
  margin: 10px auto;
  max-width: 1100px;
  height: auto;
}

#cuaderno {
  background-color: #FFFFFF;
  height: 900px;
  padding-top: 40px;
}

#cuaderno img {
  width: 70%;
}

#cuaderno p {
  color: var(--libro);
  padding-left: 10%;
  padding-right: 10%;
}

#img_cuadernoa {
  padding-left: 8%;
  text-align: center;
}

#libro {
  background-color: #6FE1FB;
  display: grid;
  grid-template-rows: 40% 60%;
  align-items: flex-end;
  height: 800px;
}

#libro img {
  width: 100%;
}

#olentzeroa {
  grid-row: 3 / 4;
}

#olentzeroa img {
  width: 45%;
}

#online {
  align-items: flex-end;
  background-color: deeppink;
  background-image: url("img/olentzero-online.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 20% 30% 50%;
  height: 800px;
}

#online img {
  width: 60%;
}

#online .berdea img  {
  width: 20%;
}

#online p {
  color: var(--libro);
  padding-left: 10%;
  padding-right: 30%;
}

#portada img {
  width: 100%;
}

#txt {
  grid-row: 2 / 3;
}

.aumentar_el_margin_top {
  margin-top: 20px;
}

.berdea {
  grid-row: 1 / 2;
  padding-left: 9%;
  padding-bottom: 2%;
}

.check {
  background-color: deepskyblue;
}

@media screen and (min-width:980px) {

  h1 {
    font-size: 6rem
  }

  body {
    background-color: royalblue;
  }

  section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: gold;
    grid-gap: 1rem;
  }

  #contenedor {
    border: 10px solid deepskyblue;
  }

  #cuaderno {
    height: 900px;
  }

  #online img {
    width: 40%;
  }
}
